- name: software | docker | install compose plugin
  tags: docker, install, plugin
  package:
    name: "{{ docker_compose_package }}"
    state: "{{ docker_compose_package_state }}"
  notify: restart docker
  ignore_errors: "{{ ansible_check_mode }}"
  when: >
    docker_install_compose_plugin | bool
    and ansible_system != 'Darwin'
    and (ansible_version.full is version_compare('2.12', '<') or ansible_os_family not in ['Debian'])

- name: software | docker | installl compose plugin (downgradable)
  tags: docker, install, plugin, downgradeable
  package:
    name: "{{ docker_compose_package }}"
    state: "{{ docker_compose_package_state }}"
    allow_downgrade: true
  notify: restart docker
  ignore_errors: "{{ ansible_check_mode }}"
  when: >
    docker_install_compose_plugin | bool
    and ansible_system != 'Darwin'
    and ansible_version.full is version_compare('2.12', '>=')
    and ansible_os_family in ['Debian']
