---
- name: apt_update
  apt:
    update_cache=yes
  when: ansible_os_family == "Debian"

- name: restart_sshd
  service:
    name: "{{ openssh_service }}"
    state: restarted
  when: ansible_os_family != "Darwin"

- name: reload_fail2ban
  service:
    name: fail2ban
    state: reloaded
  when: ansible_os_family != "Darwin"

- name: update_tmux_plugin_perms
  file:
    path: "{{ usr_home }}/.tmux/plugins"
    owner: sandro
    group: sandro
    recurse: true

- name: update_vim_bundle_perms
  file:
    path: "{{ usr_home }}/.vim/bundle"
    owner: sandro
    group: sandro
    recurse: true
