#!/bin/bash

# Set individual LED colors for Commander PRO
DEVICE_ID="{{ device_id }}"

echo "Setting LED colors on device $DEVICE_ID"

COLORS="{% for led_index, led_color in led_colors.items() %}{{ led_color }}{% if not loop.last %},{% endif %}{% endfor %}"

/opt/OpenRGB/openrgb -d $DEVICE_ID -c $COLOR
