- name: system setup | utilities | install utilities packages (Linux)
  tags: packages, system, settings
  package:
    state: latest
    name:
      - at
      - curl
      - "{{ dns_utils_package }}"
      - htop
      - iotop
      - "{{ lm_sensor_package }}"
      - lsof
      - mc
      - mosh
      - ncdu
      - neofetch
      - net-tools
      - "{{ nfs_client_package }}"
      - nmap
      - ranger
      - "{{ rename_package }}"
      - rsync
      - screen
      - sshfs
      - tmux
      - traceroute
      - "{{ vim_package }}"
      - wget
      - whois
      - zsh
  when: ansible_os_family != "Darwin"

- name: system setup | utilities | install utilities packages (macOS)
  tags: packages, system, settings
  become: false
  community.general.homebrew:
    state: present
    name:
      - curl
      - htop
      - lsof
      - mc
      - mosh
      - ncdu
      - neofetch
      - nmap
      - ranger
      - rename
      - rsync
      - tmux
      - traceroute
      - vim
      - wget
      - whois
      - zsh
  when: ansible_os_family == "Darwin"

- name: system setup | utilities | install man-pages (arch)
  tags: packages,system,settings
  pacman:
    state: latest
    name:
      - man-db
      - man-pages
  when: ansible_distribution == "Archlinux"
