---
- name: docker | load vars for this OS
  tags: always
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
        - "{{ ansible_system }}.yml"
      paths:
        - "{{ role_path }}/vars"

- name: docker | run OS specific setup
  block:
    - import_tasks: "system_setup/setup-{{ docker_os_key }}.yml"

    - import_tasks: system_setup/docker-packages.yml
    - import_tasks: software/docker-compose-plugin.yml
    - import_tasks: system_setup/directory.yml
    - import_tasks: software/docker-compose.yml
    - import_tasks: system_setup/docker-users.yml

