#load distro-specific varialbes
- include_vars: "{{ ansible_distribution }}.yml"
  tags: always

- block:
  # Create users on the system
  - import_tasks: users/sandro.yml
  - import_tasks: users/root.yml
  - import_tasks: users/simone.yml

  # Install Homebrew
  - import_tasks: software/homebrew.yml
    when: ansible_os_family == "Darwin"

  # Set up the ansible environment
  - import_tasks: ansible_setup.yml

  # Install software
  - import_tasks: software/repositories.yml
  - import_tasks: software/packages_development.yml
  - import_tasks: software/packages_git.yml
  - import_tasks: software/packages_cleanup.yml
  - import_tasks: software/packages.yml
  #- import_tasks: software/packages_pip.yml
  - import_tasks: software/packages_utilities.yml
  - import_tasks: software/autoupdate_Ubuntu.yml
    when:
      - ansible_distribution == 'Ubuntu'
      - security_autoupdate_enabled | bool

  # Perform remaining tasks
  - import_tasks: system_setup/apt.yml
    when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'noble'
  - import_tasks: system_setup/clock.yml
  - import_tasks: system_setup/cron.yml
  - import_tasks: system_setup/fail2ban.yml
    when: security_fail2ban_enabled | bool
  - import_tasks: system_setup/locale.yml
  - import_tasks: system_setup/logging.yml
  - import_tasks: system_setup/memory.yml
    when: ansible_system == "Linux"
  - import_tasks: system_setup/microcode.yml
  - import_tasks: system_setup/openssh.yml
  - import_tasks: system_setup/firmware.yml

  rescue:
    - set_fact: task_failed=true
