- name: system setup | logging | adjust retention period
  tags: systemd, journal, journald, sysctl, system setup
  lineinfile:
    path: /etc/systemd/journald.conf
    regexp: "^#?MaxFileSec="
    line: "MaxFileSec=5day"
    create: yes
  register: journald_config
  when: ansible_service_mgr == "systemd"

- name: system setup | logging | restart journald if config change
  tags: systemd, journal, journald, system setup
  service:
    name: systemd-journald
    state: restarted
  when:
    - ansible_service_mgr == "systemd"
    - journald_config.changed
