- name: system setup | logging | adjust retention period
  tags: systemd, journal, journald, sysctl, system setup
  lineinfile:
    dest: "/etc/systemd/journald.conf"
    regexp: "^#MaxFileSec="
    line: "MaxFileSec=5day"
  register: journald_config
  when: ansible_service_mgr == "systemd"

- name: system setup | logging | restart journald if config change
  service:
    name: systemd-journald
    state: restarted
  when:
    - ansible_service_mgr == "systemd"
    - journald_config.changed
