- name: system setup | microcode | install package for amd
  tags: amd,cpu,microcode,system setup
  package:
    name: "{{ amd_microcode_package }}"
    state: latest
  when:
    - ansible_os_family != "Darwin"
    - microcode_amd_install | bool
    - amd_microcode_package | length > 0

- name: system setup | microcode | install package for intel
  tags: cpu,intel,microcode,system setup
  package:
    name: "{{ intel_microcode_package }}"
    state: latest
  when:
    - ansible_os_family != "Darwin"
    - microcode_intel_install | bool
    - intel_microcode_package | length > 0
