{
  "Profiles": [
    {
      "Name": "{{ iterm2_profile_name }}",
      "Guid": "{{ iterm2_profile_guid }}",
      "Normal Font": "{{ iterm2_ascii_font }}",
      "Non Ascii Font": "{{ iterm2_non_ascii_font }}"
    }
  ]
}
